*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-sec{
  border: 2px solid grey;
  width: 30%;
  margin: auto ;
  margin-top: 2rem;
  padding: 2rem;
  
}
form div{
  padding: 1rem;
}
input{
  width: 100%;
}
h1{
  text-align: center;
}
span{
  color: red;
  font-weight: bold;
}
button{

  padding: 0.2rem 0.5rem;
}
.button{
  text-align: center;
}